body {
  /* position: fixed; */
  color: white;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  background-color: rgba(0, 0, 0, 0.4);
  height: 0;
  overflow: hidden;
}

#game {
  background-image: url('./img/floor.png');
  /* margin: 10px; */
  /* box-shadow: 0px 0px 30px 2px grey; */
  /* border-radius: 5px; */
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1s;
}

#chatButton {
  transform: rotate(-90deg);
  position: absolute;
  width: 150px;
  height: 40px;
  left: -50px;
  top: 200px;
}

#left {
  position: relative;
  text-align: right;
}

#right {
  position: absolute;
  pointer-events: none;
  right: 0px;
  top: 40px;
}

#down {
  position: absolute;
  pointer-events: none;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#heartContainer {
  position: absolute;
  width: 0px;
  top: 40px;
  pointer-events: none;
}

#connected, #roomId {
  font-size: small !important;
  pointer-events: none;
  height: auto;
  width: 150px;
  white-space: pre-line;
  overflow: hidden;
}

@keyframes overlay {
  100% {
    transform: translate(0, -100%);
  }
}

#authoverlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./img/floor.png');
  animation-duration: 1s;
  animation-name: overlay;
  animation-play-state: paused;
}

#minimap {
  position: absolute;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
}

.heart {
  image-rendering: pixelated;
  display: none;
}

.animgameover {
  animation-name: gameover;
}

.animhit {
  animation-name: hit;
}

.animheal {
  animation-name: heal;
}

.animshield {
  animation-name: shield;
}

@keyframes gameover {
  0% {
    background-image: none;
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

@keyframes hit {
  0% {
    background-image: none;
    background-color: red;
  }
  100% {
    /* background-image: none; */
    background-color: black;
  }
}

@keyframes heal {
  0% {
    background-image: none;
    background-color: lime;
  }
  100% {
    /* background-image: none; */
    background-color: black;
  }
}

@keyframes shield {
  0% {
    background-image: none;
    background-color: cyan;
  }
  100% {
    /* background-image: none; */
    background-color: black;
  }
}

#loader {
  visibility: hidden;
  position: absolute;
  left: 0px;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: blueviolet;
  border-left-color: transparent;
  border-right-color: blueviolet;
  border-width: 10px;
  animation-name: loader;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loader {
  0% {
    /* border-top-color: blueviolet;
    border-bottom-color: blueviolet;
    border-left-color: transparent;
    border-right-color: transparent; */
    transform: rotate(0turn);
  }
  100% {
    /* border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: blueviolet;
    border-right-color: blueviolet; */
    transform: rotate(1turn);
  }
}

image {
  image-rendering: pixelated;
}

audio {
  display: none;
}

table {
  /* display: block; */
  width: 100%;
}

td {
  text-align: center;
  vertical-align: top;
}

.header {
  font-family: "Lucida Console", Monaco, monospace;
  color: deeppink;
  font-size: 300%;
  text-shadow: 2px 2px 3px gray;
  text-align: center;
  font-weight: bolder;
  pointer-events: none;
}

#connected {
  font-size: large;
  /* font-family: 'Consolas', 'Courier New', Courier, monospace; */
}

a {
  color: whitesmoke;
  width: 100%;
  height: 100%;
}