body {
  /* position: fixed; */
  background-color: rgba(0, 0, 0, 0.4);
}

#game {
  background-image: url('./img/floor.png');
  margin: 10px;
  box-shadow: 0px 0px 30px 2px grey;
  border-radius: 5px;
  animation-duration: 1s;
}

#chatButton {
  transform: rotate(-90deg);
  position: absolute;
  width: 150px;
  height: 40px;
  left: -50px;
  top: 200px;
}

#left {
  position: relative;
  text-align: right;
}

#right {
  /* position: relative; */
  text-align: left;
}

.heart {
  image-rendering: pixelated;
  display: none;
}

.animgameover {
  animation-name: gameover;
}

.animhit {
  animation-name: hit;
}

.animheal {
  animation-name: heal;
}

@keyframes gameover {
  0% {
    background-image: none;
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

@keyframes hit {
  0% {
    background-image: none;
    background-color: red;
  }
  100% {
    /* background-image: none; */
    background-color: black;
  }
}

@keyframes heal {
  0% {
    background-image: none;
    background-color: lime;
  }
  100% {
    /* background-image: none; */
    background-color: black;
  }
}

image {
  image-rendering: pixelated;
}

audio {
  display: none;
}

table {
  /* display: block; */
  width: 100%;
}

td {
  text-align: center;
  vertical-align: top;
}

.header {
  font-family: "Lucida Console", Monaco, monospace;
  color: deeppink;
  font-size: 300%;
  text-shadow: 2px 2px 3px gray;
  text-align: center;
  font-weight: bolder;
}

#connected {
  font-size: large;
  /* font-family: 'Consolas', 'Courier New', Courier, monospace; */
}

a {
  color: whitesmoke;
  width: 100%;
  height: 100%;
}