body {
  /* position: fixed; */
  color: white;
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(0, 0, 0, 0.4);
  height: 0;
  overflow: hidden;
}

body * {
  font-family: 'Roboto Mono', monospace;
}

img {
  image-rendering: crisp-edges;
  transition-duration: 0.3s;
}

audio {
  display: none;
}

table {
  /* display: block; */
  width: 100%;
}

td {
  text-align: center;
  vertical-align: top;
}

a {
  color: whitesmoke;
  width: 100%;
  height: 100%;
}

#game {
  background-image: url('./img/floor.png');
  /* margin: 10px; */
  /* box-shadow: 0px 0px 30px 2px grey; */
  /* border-radius: 5px; */
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1s;
  cursor: url(img/cursor.png) 16 16, auto;
}

#chatButton {
  transform: rotate(-90deg);
  position: absolute;
  width: 150px;
  height: 40px;
  left: -50px;
  top: 200px;
}

#left {
  position: relative;
  text-align: right;
}

#heartContainer {
  position: absolute;
  width: 0px;
  pointer-events: none;
}

#connected, #roomId {
  font-size: small !important;
  pointer-events: none;
  height: auto;
  width: 150px;
  white-space: pre-line;
  overflow: hidden;
}

@keyframes overlay {
  100% {
    transform: translate(0, -100%);
  }
}

#authoverlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./img/floor.png');
  animation-duration: 1s;
  animation-name: overlay;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  text-align: center;
}

#down {
  position: absolute;
  pointer-events: none;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#down>* {
  vertical-align: bottom;
}

#down button {
  width: 50px;
  height: 50px;
  min-width: 50px;
  background-size: contain;
}

#upgrade {
  display: inline;
  background-color: rgba(100, 0, 100, 0.4);
  transition-duration: 0.5s;
  position: absolute;
  /* top: 52px; */
}

#upgrader {
  position: relative;
  display: inline-block;
  /* background-color: yellow; */
}

#upgradeBtn {
  margin: 0px;
}

#upgradeBtn>img {
  width: 25px;
  height: 25px;
}

#upgradeBtn>div {
  float: left;
  margin: 10px;
}

#upgradeMenu {
  width: fit-content;
  width: 100%;
  margin: 10px 0px 10px 0px;
  background-color: aqua;
  height: 0px;
  transition-duration: 0.3s;
  border-radius: 3px;
}

#about {
  text-align: center;
  resize: none;
  height: 150px;
  white-space: pre-line;
  color: slateblue;
}

#minimap {
  position: absolute;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
}

.heart {
  image-rendering: pixelated;
  display: none;
}

.animgameover {
  animation-name: gameover;
}

.animhit {
  animation-name: hit;
}

.animheal {
  animation-name: heal;
}

.animshield {
  animation-name: shield;
}

@keyframes gameover {
  0% {
    background-image: none;
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

@keyframes hit {
  0% {
    background-image: none;
    background-color: red;
  }
  100% {
    /* background-image: none; */
    background-color: black;
  }
}

@keyframes heal {
  0% {
    background-image: none;
    background-color: lime;
  }
  100% {
    /* background-image: none; */
    background-color: black;
  }
}

@keyframes shield {
  0% {
    background-image: none;
    background-color: cyan;
  }
  100% {
    /* background-image: none; */
    background-color: black;
  }
}

#loader div {
  /* visibility: hidden; */
  position: absolute;
  left: 0px;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: blueviolet;
  border-left-color: transparent;
  border-right-color: blueviolet;
  border-width: 10px;
  animation-name: loader;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loader {
  0% {
    /* border-top-color: blueviolet;
    border-bottom-color: blueviolet;
    border-left-color: transparent;
    border-right-color: transparent; */
    transform: rotate(0turn);
  }
  100% {
    /* border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: blueviolet;
    border-right-color: blueviolet; */
    transform: rotate(1turn);
  }
}

@keyframes landscape {
  0% {
    transform: rotate(0deg);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}

#mobLandscape {
  margin: auto;
  background-image: url('img/mobLandscape.png');
  animation-name: landscape;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#mobShoot::before, mobSpeedup::before {
  width: 70px;
  height: 70px;
  margin: 0px;
}

.header {
  color: deeppink;
  font-size: 300%;
  text-shadow: 2px 2px 3px gray;
  text-align: center;
  font-weight: bolder;
  pointer-events: none;
}

#connected {
  font-size: large;
  /* font-family: 'Consolas', 'Courier New', Courier, monospace; */
}